In [1]:
import pandas as pd
import numpy as np
import regex as re

In [2]:
#ANSWER - 1

text = 'India, is an amazing Country.'
result = re.sub('[\s,.]', ':', text)
result

'India::is:an:amazing:Country:'

In [3]:
# ANSWER - 2

dict = {'SUMMARY' : ['hello, world!', 'XXXX test', '123four, five:; six...']}
dict

{'SUMMARY': ['hello, world!', 'XXXX test', '123four, five:; six...']}

In [4]:
df = pd.DataFrame(dict)
df

                  SUMMARY
0           hello, world!
1               XXXX test
2  123four, five:; six...

In [5]:
df['SUMMARY'] = df['SUMMARY'].replace('[^\s|a-z|A-Z|]', '', regex=True)
df

         SUMMARY
0    hello world
1      XXXX test
2  four five six

In [6]:
# Answer - 3

text = 'India is an amazing country.'

def four_len_str(text):
    pattern = re.compile('\w{4}')
    
    words = pattern.findall(text)
    return words

result = four_len_str(text)
print(result)

['Indi', 'amaz', 'coun']

In [7]:
#answer - 4

text = 'India is an amazing country.'

def specific_len_str(text):
    pattern = re.compile('\w{3,5}')
    
    words = pattern.findall(text)
    return words

result = specific_len_str(text)
print(result)

['India', 'amazi', 'count']

In [8]:
#ANSWER - 5

text = ["google(.com)", "pulkit@gmail(.com)", "github(.com)", "Data Trained (Education)", "Data (Scientist)"]

def no_parenthesis(strings):
    pattern = re.compile('\(*\)*')
    
    result = [pattern.sub('', word) for word in strings]
    return result

output = no_parenthesis(text)

for word in output:
    print(word)

google.com
pulkit@gmail.com
github.com
Data Trained Education
Data Scientist

In [9]:
# ANSWER - 6

text = ["google(.com)", "pulkit@gmail(.com)", "github(.com)", "Data Trained (Education)", "Data (Scientist)"]

result = [re.sub('\([^)]*\)', '', strings) for strings in text]
print(result)

['google', 'pulkit@gmail', 'github', 'Data Trained ', 'Data ']

In [10]:
# ANSWER - 7

text = "ImportanceOfRegularExpressionsInPython"

result = re.findall('[A-Z][a-z]*', text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [12]:
# ANSWER - 8

text = "FlipnWork1Assignment2Github3InPython"

def insert_spaces(words):
    pattern = re.compile(r'([A-Za-z]+)(\d)')
    
    result = pattern.sub(r'\1 \2', words)
    return result

output = insert_spaces(text)
print(output)

FlipnWork 1Assignment 2Github 3InPython

In [13]:
# ANSWER - 10

df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [14]:
df['First Five Letters'] = df['Country'].str.extract('(^.{5})')

In [15]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,First Five Letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switz
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icela
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denma
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norwa
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwand
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burun
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

In [16]:
# ANSWER - 11

def is_valid_string(text):
    pattern = re.compile(r'^[A-Za-z0-9_]*$')
    return pattern.match(text) is not None

sample_strings = ["Valid_String123",
                  "Another_Valid_String",
                  "Not_Valid$String",
                  "Invalid String"]

for text in sample_strings:
    if is_valid_string(text):
        print(f"'{text}' is a valid string.")
    else:
        print(f"'{text}' is not a valid string.")

'Valid_String123' is a valid string.
'Another_Valid_String' is a valid string.
'Not_Valid$String' is not a valid string.
'Invalid String' is not a valid string.

In [18]:
# ANSWER - 12

def starts_with_specific_number(text, specific_number):
    return text.startswith(str(specific_number))

specific_number = 123
sample_strings = ["12345",
                  "123abc",
                  "456def",
                  "789xyz"]

for text in sample_strings:
    if starts_with_specific_number(text, specific_number):
        print(f"'{text}' starts with {specific_number}.")
    else:
        print(f"'{text}' does not start with {specific_number}.")

'12345' starts with 123.
'123abc' starts with 123.
'456def' does not start with 123.
'789xyz' does not start with 123.

In [20]:
# ANSWER - 13

def remove_leading_zeros(ip_address):
    parts = ip_address.split('.')
    stripped_parts = [str(int(part)) for part in parts]
    return '.'.join(stripped_parts)

ip_address_with_zeros = "192.168.001.010.0100"
ip_address_without_zeros = remove_leading_zeros(ip_address_with_zeros)
print(ip_address_without_zeros)

192.168.1.10.100

In [23]:
# ANSWER - 14

def extract_date(text):
    pattern = re.compile(r'\b[A-Z][a-z]* \d+(?:st|nd|rd|th)? \d{4}\b')
    date = pattern.search(text)
    return date.group() if date else None

samp_txt = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’."

extracted_date = extract_date(samp_txt)

if extracted_date:
    print(extracted_date)
else:
    print("Date not found.")

August 15th 1947

In [24]:
# ANSWER - 15

def search_words(text, words):
    found_words = [word for word in words if word in text]
    return found_words

sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']

found_words = search_words(sample_text, searched_words)

for word in found_words:
    print(f"'{word}'")

'fox'
'dog'

In [26]:
# ANSWER - 16

def search_and_find_location(text, pattern):
    locations = []
    start = 0
    while True:
        found = text.find(pattern, start)
        if found == -1:
            break
        locations.append(found)
        start = found + 1
    return locations

sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_word = 'fox'

found_locations = search_and_find_location(sample_text, searched_word)

if found_locations:
    for location in found_locations:
        print(f"'{searched_word}' found at position {location}.")
else:
    print(f"'{searched_word}' not found in the text.")

'fox' found at position 16.

In [29]:
# ANSWER - 17

def find_substrings(text, pattern):
    start = 0
    locations = []
    while True:
        found = text.find(pattern, start)
        if found == -1:
            break
        locations.append(found)
        start = found + 1
    return locations

sample_text = 'Python exercises, PHP exercises, C# exercises'
searched_pattern = 'exercises'

found_locations = find_substrings(sample_text, searched_pattern)

if found_locations:
    for location in found_locations:
        print(f"'{searched_pattern}' found at position {location}.")
else:
    print(f"'{searched_pattern}' not found in the text.")

'exercises' found at position 7.
'exercises' found at position 22.
'exercises' found at position 36.

In [31]:
# ANSWER - 18

def find_occurrence_and_position(text, pattern):
    start = 0
    occurrences = []
    while True:
        found = text.find(pattern, start)
        if found == -1:
            break
        occurrences.append(found)
        start = found + 1
    return occurrences

sample_text = 'Python exercises, PHP exercises, C# exercises, Python exercises'
searched_pattern = 'exercises'

found_occurrences = find_occurrence_and_position(sample_text, searched_pattern)

if found_occurrences:
    for index, occurrence in enumerate(found_occurrences, start=1):
        print(f"'{searched_pattern}' found at position {occurrence}, occurrence {index}.")
else:
    print(f"'{searched_pattern}' not found in the text.")

'exercises' found at position 7, occurrence 1.
'exercises' found at position 22, occurrence 2.
'exercises' found at position 36, occurrence 3.
'exercises' found at position 54, occurrence 4.

In [33]:
# ANSWER - 19

def convert_date_format(date):
    parts = date.split('-')
    if len(parts) == 3:
        year, month, day = parts
        return f"{day}-{month}-{year}"
    else:
        return "Invalid date format"

input_date = "2023-08-27"
converted_date = convert_date_format(input_date)
print(f"Original date: {input_date}")
print(f"Converted date: {converted_date}")

Original date: 2023-08-27
Converted date: 27-08-2023

In [34]:
# ANSWER - 20

def find_decimal_numbers(text):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    decimals = pattern.findall(text)
    return decimals

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
decimal_numbers = find_decimal_numbers(sample_text)
print(decimal_numbers)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [39]:
# ANSWER - 21

def separate_numbers(text):
    numbers = []
    positions = []
    start = 0

    while start < len(text):
        while start < len(text) and not text[start].isdigit():
            start += 1

        if start < len(text):
            end = start
            while end < len(text) and text[end].isdigit():
                end += 1

            number = int(text[start:end])
            numbers.append(number)
            positions.append(start)
            start = end

    return numbers, positions

sample_text = "Hello 123, this is 456 and 789."
numbers, positions = separate_numbers(sample_text)

for number, position in zip(numbers, positions):
    print(f"Number: {number}, Position: {position}")

Number: 123, Position: 6
Number: 456, Position: 19
Number: 789, Position: 27

In [42]:
# ANSWER - 22

def extract_maximum_numeric_value(text):
    numbers = re.findall(r'\b\d+\b', text)
    if numbers:
        max_number = max(map(int, numbers))
        return max_number
    else:
        return None

sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
maximum_numeric_value = extract_maximum_numeric_value(sample_text)

if maximum_numeric_value is not None:
    print(f"The maximum numeric value is: {maximum_numeric_value}")
else:
    print("No numeric values found in the text.")

The maximum numeric value is: 950

In [47]:
# ANSWER - 23

def insert_spaces_before_capital(text):
    pattern = re.compile(r'(?<=\w)([A-Z])')
    result = pattern.sub(r' \1', text)
    return result

sample_text = "RegularExpressionIsAnImportantTopicInPython"
output_text = insert_spaces_before_capital(sample_text)
print(output_text)

Regular Expression Is An Important Topic In Python

In [49]:
# ANSWER - 24

pattern = re.compile(r'[A-Z][a-z]+')

text = "Abc DeF gHi Jkl"
result = pattern.findall(text)

print(result)

['Abc', 'De', 'Hi', 'Jkl']

In [50]:
# ANSWER - 25

def remove_continuous_duplicates(sentence):
    pattern = re.compile(r'\b(\w+)(?:\s+\1)+\b', flags=re.IGNORECASE)
    cleaned_sentence = pattern.sub(r'\1', sentence)
    return cleaned_sentence

sample_text = "Hello hello world world"
output_text = remove_continuous_duplicates(sample_text)
print(output_text)

Hello world

In [51]:
# ANSWER - 26

def is_ending_with_alphanumeric(text):
    pattern = re.compile(r'^.*[a-zA-Z0-9]$')
    return bool(pattern.match(text))

sample_strings = [
    "Hello123",
    "Python-",
    "Alphanumeric9",
    "Testing!",
    "EndsWithNumber0",
]

for text in sample_strings:
    if is_ending_with_alphanumeric(text):
        print(f"'{text}' ends with an alphanumeric character.")
    else:
        print(f"'{text}' does not end with an alphanumeric character.")

'Hello123' ends with an alphanumeric character.
'Python-' does not end with an alphanumeric character.
'Alphanumeric9' ends with an alphanumeric character.
'Testing!' does not end with an alphanumeric character.
'EndsWithNumber0' ends with an alphanumeric character.

In [52]:
# ANSWER - 27

def extract_hashtags(text):
    pattern = re.compile(r'#\w+')
    hashtags = pattern.findall(text)
    return hashtags

sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
hashtags = extract_hashtags(sample_text)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [53]:
# ANSWER - 28

def remove_special_symbols(text):
    pattern = re.compile(r'<U\+[A-Fa-f0-9]{4}>')
    cleaned_text = pattern.sub('', text)
    return cleaned_text

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
cleaned_text = remove_special_symbols(sample_text)
print(cleaned_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [56]:
# ANSWER - 29

def extract_dates_from_text(text):
    pattern = re.compile(r'\b\d{2}-\d{2}-\d{4}\b')
    dates = pattern.findall(text)
    return dates

smp_txt = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."

extracted_dates = extract_dates_from_text(smp_txt)

if extracted_dates:
    for date in extracted_dates:
        print(date)
else:
    print("No dates found in the text.")

12-09-1992
15-12-1999

In [58]:
# ANSWER - 30

def remove_words_with_length_between_2_and_4(text):
    pattern = re.compile(r'\b\w{2,4}\b')
    result = pattern.sub('', text)
    return result

sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
output_text = remove_words_with_length_between_2_and_4(sample_text)
print(output_text)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.