In [1]:
# Answer-1

def func(a, b):
    
    return b if a == 0 else func(b % a, a)

print(func(30, 75))

15

In [2]:
#Answer-2

numbers = (4, 7, 19, 2, 89, 45, 72, 22)

sorted_numbers = sorted(numbers)

even = lambda a: a % 2 == 0

even_numbers = filter(even, sorted_numbers)

print(type(even_numbers))

<class 'filter'>

In [3]:
# Answer-4

set1 = {14, 3, 55}

set2 = {82, 49, 62}

set3={99,22,17}

print(len(set1 + set2 + set3))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
# Answer-7

print(4**3 + (7 + 5)**(1 + 1))

In [4]:
# Answer-16

captains = {
 "Enterprise": "Picard",
 "Voyager": "Janeway",
 "Defiant": "Sisko",
}
captains

for ship in captains: 
    print(ship, captains[ship])

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [5]:
# Answer-17

captains = {}
captains

{}

In [6]:
# Answer-18

captains = {
 "Enterprise": "Picard",
 "Voyager": "Janeway",
 "Defiant": "Sisko",
}

captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [11]:
# Answer-19

captains = {
 "Enterprise": "Picard",
 "Voyager": "Janeway",
 "Defiant": "Sisko",
 "Discovery": "unknown",}
print(captains,'\n')

for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko', 'Discovery': 'unknown'}

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by unknown.

In [12]:
# Answer-20

del captains['Discovery']

In [13]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}